.productList {
  width: 90%;
  /* min-width: 75%; */
  /* align-items: center; */
  /* margin: 0 auto; */
}
.products {
  padding-bottom: 3%;
  /* padding-top: 0px; */
  /* margin-bottom: 3%; */
  margin-top: 0px;
  width: 1400px;
  /* padding-left: 100px; */
  /* width: 100%; */
  margin: 0 auto;
  position: relative;
  margin-left: 100px;
  margin-right: auto;
  /* align-items: center; */
}
.atEnd {
  width: 100%;
  height: auto;
  padding: 5px 0;
  font-size: 20px;
  color: #000000;
  text-align: center;
}
