.product{
    padding: 10px;
    width: 350px;
    height:450px;
    display: inline-block;
    /* flex-direction: 'row'; */
}
.item_card{
    box-sizing: border-box;
    width: 350px;
    height:450px;
    border: solid #000000 2px;
    padding: 10px;
    list-style-type: none;
}
.item_card:hover{
    border: solid #999999;
}
.img{
    box-sizing: border-box;
    width: 300px;
    height: 300px;
}

.i_price{
    font-size: 20px;
    color: #000000;
}
.i_name{
    color: #000000;
}
.i_view{
    color: #000000;
}
.i_like{
    color: #000000;
}
.button_like{
    background-color: #ffffff;

}
.button_like:hover{
    color: #ffc0cb;
}